@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our movie management app. Use it at will.</p>
    <p>If you want learn more about ASP.NET <a href="https://docs.microsoft.com/aspnet/core">click here</a>.</p>
</div>
